form {
    width: 200px;
    margin: auto;
    text-align: left;
}

input, button, label {
	width: 100%;
    box-sizing: border-box;
    font-size: large;
}

span {
    position: absolute;
    margin: 0 20px;
    color: red;
    font-size: x-large;
}

p{
    padding: 5px;
}

